lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.log.*
*.nedb
*test/tmp*
*test/test-tmp*
*.db
pids
logs
results
npm-debug.log
node_modules
public/*
private/*
test/private/*
local_test/
.idea/
.editorconfig
coverage/*
*.analyzed.js
.DS_Store
alternative-tmp
private-creds.md
lib/node-red/.config*
lib/node-red/.sessions*
